.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f6fa;
}

.login-card {
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;

}

.logo {
  width: 200px;
  height: 200px;
}

.title {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  color: #1f2f79;
  font-weight: bold;
}

.form-group {
  text-align: left;
  margin-bottom: 1rem;
}

input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  margin-top: 0.25rem;
  font-size: 1rem;
}

button {
  width: 100%;
  padding: 0.75rem;
  background-color: #1f2f79;
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:disabled {
  background-color: #8a8b8d;
  cursor: not-allowed;
}

button:hover:enabled {
  background-color: #16225b;
}

.forgot-password {
  text-align: right;
  margin-bottom: 1rem;
}

.forgot-password a {
  font-size: 0.9rem;
  color: #1f2f79;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}
